@font-face {
  font-family: "Fredoka One", cursive;
  src: url("../fonts/FredokaOne-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: #232323;
  height: 100%;
  width: 100%;
}

.right {
  background-color: #1a1818;
  width: 100%;
  height: 100%;
}

.transparency {
  display: flex;
  height: 700px;
  width: 600px;
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  border-radius: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 100;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  border-radius: 4px;
  position: relative;
  top: -20px;
}

form div p {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

label {
  width: 85%;
  margin: 10px 0;
  font-family: "Fredoka One";
}

input,
select {
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px 2px 3px 2px;
  border-color: #8e24aa;
}

select {
  height: 45px;
}

button {
  display: block;
  height: 40px;
  width: 50%;
  background: linear-gradient(60deg, #8e24aa, #ab47bc);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: black;
  color: #ffffff;
  margin-top: 30px;
  font-weight: bold;
}
